/*---------------------------Initial Properties------------------------------- */
.my-txt-semi-light { color: rgb(178, 190, 181); }
.my-txt-black{ color: #24292f; }

.my-bg-color-primary {
  background: linear-gradient(120deg, rgba(42, 84, 112), rgba(76, 65, 119));
}
.my-bg-color-secondary {
  background: linear-gradient(240deg, rgba(42, 84, 112), rgba(76, 65, 119));
}
.bg-color-lawrencium {
  background: linear-gradient(240deg, #0f0c29, #302b63, #24243e);
}
header .page-logo-properties { width: 50px; }
header .navbar-nav a { color: #c3c3c4; }

/*-------------------- Header Content --------------------*/
header .my-my-1 {
  margin-top: 14.5rem !important;
  margin-bottom: 2rem !important;
}
header .my-header-img-properties { max-width: 85%; }

/*------------------Navbar-End------------------*/
header .website-contents #menu a {
	color: #232323;
	transition: color 0.3s ease;
  width: 28%;
}
header .website-contents #menu a:hover { color: #2ecc71; }

header .website-contents#websiteMenuToggle {
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}
.after-style {
  position: fixed !important;
}

header .website-contents#websiteMenuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

header .website-contents#websiteMenuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}
/*------------- Navbar Hamburger Animation -------------*/
header .website-contents#websiteMenuToggle span:first-child {
	transform-origin: 0% 0%;
}

header .website-contents#websiteMenuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

header .website-contents#websiteMenuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;

}

header .website-contents#websiteMenuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

header .website-contents#websiteMenuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}
/*------------- Navbar Options -------------*/
header .website-contents #menu {
	position: fixed;
	margin: -100px 0 0 0;
	padding-top: 125px;
  right: -62px;
  height: 104vh;
  /* right: -189%; */
	background: rgb(233, 236, 239);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%,0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
header .website-contents#websiteMenuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

/*----------- Abt Me -----------*/
.about-me .abt-me-img-properties {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*----------- Hobbies -----------*/
.hobbies .my-hobby-icon-properties {
  margin: auto;
  width: 50%;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite, glow 1.5s infinite alternate;
}

@keyframes float {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-10px);}
	100% {transform: translatey(0px);} 
}

@keyframes glow{
  from{filter: drop-shadow(5px 5px 20px #9f9fa1);}
  to{filter: drop-shadow(8px 5px 20px #606063);}
}

/*----------- Goals -----------*/
.goals .my-goal-img-properties {
  filter: drop-shadow(0px 0px 20px #919194);
  margin: auto;
  width: 75%;
}
.goals .h1 { text-align: center; }

/*----------- Expertise Content -----------*/
.expertise .exp-ico {
  width: 70%;
  filter: drop-shadow(8px 5px 20px #9f9fa1);
  transition: transform 0.3s;
}
.expertise .exp-ico:hover {
  transform: scale(1.2);
  filter: drop-shadow(8px 5px 20px #c3c3c4);
}

/*---------------------------Breakpoints------------------------------- */
/* xsm */
@media (max-width: 575px){
  header .my-my-1 {
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
  }
  header .my-header-img-properties {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  header .welcome-txt {
    text-align: center !important;
  }
  header .welcome-txt .display-3 {
    font-size: calc(1.525rem + 3.3vw);
  }
  header .welcome-txt .h4 {
    font-size: 1.25rem;
  }
  header .website-contents #menu {
    width: 110vw;
  }
  .about-me .abt-me-img-properties {
    width: 70%;
  }
  .about-me .abt-me-txt {
    margin-top: 1rem !important;
  }
  .hobbies .my-hobby-icon-properties {
    margin: auto;
    width: 30%;
  }
  .goals .my-goal-img-properties {
    width: 75%;
  }

  .goals section .sec-goal-col .first {
    order: 1;
  }
  .goals section .fourth-goal-col .first {
    order: 1;
  }
  .goals .float-start, .goals .float-end {
    float: none !important;
    display: block;
    margin: auto;
  }
  .goals section .pb-5 {
    padding-bottom: 1rem !important;
  }
  .expertise .exp-ico {
    width: 27%;
    margin-bottom: 50px;
  }
}
/* sm */
@media (min-width: 576px) {  
  header .my-my-1 {
    margin-top: 7.5rem !important;
    margin-bottom: 2rem !important;
  }
  header .my-header-img-properties {
    width: 100%;
  }
  header .welcome-txt .display-3 {
    font-size: calc(1.375rem + 1.5vw);
  }
  header .welcome-txt .h4 {
    font-size: 1rem;
  }
  header .website-contents #menu {
    width: 108vw;
  }
  .about-me .abt-me-img-properties {
    max-width: 80%;
  }
  .about-me .abt-me-txt {
    margin-top: 2rem !important;
  }

  .goals .float-start, .goals .float-end {
    float: none !important;
    display: block;
    margin: auto;
  }
  .goals section .sec-goal-col .first {
    order: 1;
  }
  .goals section .fourth-goal-col .first {
    order: 1;
  }
  .goals section .pb-5 {
    padding-bottom: 1rem !important;
  }
}
/* md */
@media (min-width: 768px) {
  header .my-my-1 {
    margin-top: 10.4rem !important;
    margin-bottom: 2rem !important;
  }
  header .my-header-img-properties {
    width: 100%;
  }
  header .welcome-txt .display-3 {
    font-size: calc(1.425rem + 2.1vw);
  }
  header .welcome-txt .h4 {
    font-size: 1.15rem;
  }
  header .website-contents #menu {
    width: 400px;
  }
  .about-me .abt-me-img-properties {
    max-width: 65%;
  }
}

/* lg */
@media (min-width: 992px) and (max-width:1199px) {
  header .my-my-1 {
    margin-top: 13rem !important;
    margin-bottom: 2rem !important;
  }
  header .my-header-img-properties {
    width: 100%;
  }
  header .welcome-txt .display-3 {
    font-size: calc(1.475rem + 2.7vw);
  }
  header .welcome-txt .h4 {
    font-size: 1.25rem;
  }
  .about-me .abt-me-txt {
    margin-top: 3.5rem !important;
  }
  .about-me .abt-me-img-properties {
    max-width: 80%;
  }
  .about-me .abt-me-txt {
    margin-top: 3.5rem !important;
  }
  .goals .float-start{
    float: left !important;
  }
  .goals .float-end{
    float: right !important;
  }
  .goals section .sec-goal-col .first {
    order: 0;
  }
  .goals section .fourth-goal-col .first {
    order: 0;
  }
  .goals section .pb-5 {
    padding-bottom: 3rem !important;
  }
}
@media (min-width: 1200px){
  header .my-my-1 {
    margin-top: 14.5rem !important;
    margin-bottom: 2rem !important;
  }
  header .welcome-txt .display-3 {
    font-size: calc(1.475rem + 2.7vw);
  }
  header .welcome-txt .h4 {
    font-size: 1.25rem;
  }
  .about-me .abt-me-img-properties {
    max-width: 80%;
  }
  .about-me .abt-me-txt {
    margin-top: 7rem !important;
  }
  .goals .float-start{
    float: left !important;
  }
  .goals .float-end{
    float: right !important;
  }
  .goals section .sec-goal-col .first {
    order: 0;
  }
  .goals section .fourth-goal-col .first {
    order: 0;
  }
  .goals section .pb-5 {
    padding-bottom: 3rem !important;
  }
}